/* $ui-color: rgb(85, 143, 232);

.emergent-demo {
  padding: 2em 0 4em;
}

.emergent-demo-inner {
  margin: 0 auto;
  flex: 0 0 100%;
}

.emergent-demo-intro {
  text-align: center;

  p {
    margin: 0 auto;
    width: 80%;
  }
}

.project-canvas {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.start-button-wrapper {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  display: inline;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.3em 0.5em;
  user-select: none;

  button {
    font-weight: normal;
    font-size: xx-large;
    border-radius: 0.5em;
    display: block;
    width: 100%;
    cursor: pointer;
    line-height: 3em;
    background: none;
    border: 1px solid $ui-color;
    color: $ui-color;
    margin-bottom: 1em;
  }
}

.demo-toggle-wrapper {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  display: none;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.3em 0.5em;
  user-select: none;

  button {
    font-weight: normal;
    border-radius: 0.5em;
    display: block;
    width: 100%;
    cursor: pointer;
    line-height: 3em;
    background: none;
    border: 1px solid $ui-color;
    color: $ui-color;
    margin-bottom: 1em;
  }
} */
